<ion-content [fullscreen]="true" scrollY="false" color="primary">
  <ion-grid>
    <ion-row style="height: 100dvh" class="ion-align-items-center">
      <ion-col
        size="12"
        sizeSm="10"
        offsetSm="1"
        sizeMd="8"
        offsetMd="2"
        sizeLg="6"
        offsetLg="3"
        sizeXl="4"
        offsetXl="4"
        class="ion-text-center"
      >
        <ion-card>
          <ion-card-header>
            <ion-card-title>Profil szerkesztés</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="profileForm">
              <ion-item>
                <ion-icon
                  slot="start"
                  name="person-outline"
                  aria-hidden="true"
                  class="ion-padding-top"
                ></ion-icon>
                <ion-input
                  class="ion-margin-top"
                  formControlName="name"
                  type="text"
                  label="Név"
                  labelPlacement="floating"
                  [clearInput]="true"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon
                  slot="start"
                  name="mail-outline"
                  aria-hidden="true"
                  class="ion-padding-top"
                ></ion-icon>
                <ion-input
                  class="ion-margin-top"
                  formControlName="email"
                  type="email"
                  label="Email"
                  labelPlacement="floating"
                  [clearInput]="true"
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon
                  slot="start"
                  name="lock-closed-outline"
                  aria-hidden="true"
                  class="ion-padding-top"
                ></ion-icon>
                <ion-input
                  class="ion-margin-top"
                  formControlName="password"
                  type="password"
                  label="Új jelszó"
                  labelPlacement="floating"
                  [clearInput]="true"
                ></ion-input>
              </ion-item>
              <ion-button
                class="ion-margin-top"
                (click)="onUpdate()"
                color="primary"
                expand="block"
                >Módosítás</ion-button
              >
              <ion-button
                class="ion-margin-top"
                (click)="onCancel()"
                color="light"
                expand="block"
                >Mégsem</ion-button
              >
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
