<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          {{ userName$ | async }}
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list lines="none">
        <ion-menu-toggle auto-hide="auto-hide">
          <ion-item>
            <ion-button (click)="navigateToUserEdit()" button-type="string" class="capitalize-text"
              >Szerkesztés</ion-button
            >
          </ion-item>
          <ion-item>
            <ion-button (click)="logout()" button-type="string" 
              >Kilépés</ion-button
            >
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
