.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    width: 70vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    ion-input {
      font-size: 16px;
    }
    ion-button {
      font-size: 16px;
    }
  }
}
