<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bejelentkezés</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bejelentkezés</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Email cím</mat-label>
        <input matInput class="email" formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Jelszó</mat-label>
        <input
          matInput
          class="password"
          type="password"
          formControlName="password"
        />
      </mat-form-field>
      <button type="submit" mat-raised-button [disabled]="loginForm.invalid">
        Bejelentkezés
      </button>
      <!-- TODO: <a routerLink="regisztráció link">Nincs még fiókja?</a> -->
    </form>
  </div>
</ion-content>
